*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

body form {
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body form label {
  margin-bottom: -1.5rem;
}

body form input {
  width: 50%;
  max-width: 400px;
  text-align: center;
  margin: 2rem;
}

body form #submit {
  padding: 0.5rem;
  background: coral;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
}

body .playingField {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

body .playingField .sort {
  position: absolute;
  display: block;
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 5;
}

body .playingField .card {
  height: 8rem;
  width: 5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #fff;
  position: relative;
}

body .playingField .joker {
  height: 8rem;
  width: 5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  background: #fff;
  color: cornflowerblue;
}

body .playingField .joker::before,
body .playingField .joker::after {
  content: attr(data-value);
  position: absolute;
  font-size: 1rem;
}

body .playingField .joker::before {
  margin-top: 6rem;
  margin-left: 1rem;
}

body .playingField .joker::after {
  margin-bottom: 6rem;
  margin-right: 1rem;
}

body .playingField .red {
  color: red;
}

body .playingField .black {
  color: black;
}

body .playingField .stack {
  background: cornflowerblue;
  color: #fff;
  font-size: 3rem;
}

body .playingField .playercard,
body .playingField .stack {
  cursor: pointer;
}

body .playingField .computercard,
body .playingField .computercard::before,
body .playingField .computercard::after {
  font-size: 0 !important;
  background: coral;
}

body .playingField .card::before,
body .playingField .card::after {
  content: attr(data-value);
  position: absolute;
  font-size: 1rem;
  letter-spacing: -2px;
}

body .playingField .card::before {
  top: 0.5rem;
  left: 0.5rem;
}

body .playingField .card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

body .playingField .computerCards {
  height: fit-content;
  max-width: 95% !important;
  width: 80%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body .playingField .computerCards .h2 {
  line-height: 2rem;
  text-align: center;
}

body .playingField .computerCards .card {
  margin-left: -1rem;
  margin-right: -1rem;
}

body .playingField .computerCards .joker {
  font-size: 0;
  background: coral;
  margin-left: -1rem;
  margin-right: -1rem;
}

body .playingField .computerCards .joker::before,
body .playingField .computerCards .joker::after {
  font-size: 0;
}

body .playingField .middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body .playingField .middle .cardStack .card {
  margin: 0rem;
}

body .playingField .middle .playedCards {
  margin: 0rem;
}

body .playingField .playerCards {
  max-height: 20rem;
  height: fit-content;
  width: 80%;
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

body .playingField .playerCards .h2 {
  margin-bottom: 3rem;
  line-height: 2rem;
  text-align: center;
}

body .playingField .playerCards .card {
  height: 8rem;
  width: 5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -5rem;
}

body .playingField .playerCards .joker {
  height: 8rem;
  width: 5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -5rem;
}
/*# sourceMappingURL=style.css.map */